# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/
.vitepress/
.vitest/

# Static directories
public/static/

# Temporary files
temp/
tmp/
*.swp
*.swo

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.VSCodeCounter
# MacOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
